<ion-view title="Cotizar crédito">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
          <div class="list">
                    <div class="item item-divider">
                        ¿Cuánto dinero necesitas?
                        <span class="badge badge-positive">{{opciones.monto|currency}}</span>
                    </div>
                    <div class="item range range-positive">
                        <input type="range" name="monto" ng-model="opciones.monto" ng-change="changeMonto()" min="0" max="10000" step="100" value="100"/>
                    </div>
                    <div class="item item-divider">
                        ¿Cada cuánto haras tu pago?
                    </div>
                    <div class="item item-input item-select">
                        <div class="input-label">
                            Periodo
                        </div>
                        <select ng-model="opciones.periodo" ng-change="changePeriodo()">
                            <option value="1">Mensual</option>
                            <option value="2">Quincenal</option>
                            <option value="3">Semanal</option>
                        </select>
                    </div>
                    <div class="item item-divider">
                        Vas hacer
                        <span class="badge badge-positive">
                            <span>{{opciones.no_pagos}}  pagos  {{opciones.periodoName}} </span>
                        </span>

                    </div>
                    <div class="item range range-positive">
                        <input type="range" name="pagos" ng-model="opciones.no_pagos" ng-change="changePago()" min="0" max="12" step="1" value="1"/>
                    </div>
                    <div class="item item-divider">
                        Cálculo
                        <div class="row">
                            <div class="col">
                                <h2>Monto {{opciones.monto|currency}}</h2> 
                            </div>
                            <div class="col">
                                <h2>Total {{opciones.total|currency}}</h2> 
                            </div>
                        </div>
                    </div>
<button class="button button-full button-positive">
                          Obtener mi prestamo
                        </button>                
      </div>

  </ion-content>
</ion-view>