<ion-view title="Financiera ayudamos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row responsive-md">
      <div class="col">
           <div class="titulo">
                Nosotros     
            </div>
      </div>
     <div class="col">
         <p class="parrafo">
                Somos una empresa orientada a dar créditos a personas físicas y micronegocios.
            </p>
          <p class="parrafo">
                El cliente como centro de nuestro negocio. Mantenemos una relación a largo plazo, de confianza y valor mutuo con nuestros clientes. Ofrecemos un servicio de máxima calidad y soluciones, asesoramiento y productos más adecuados a sus necesidades. Toda nuestra organización trabaja para el cliente.
          </p>
           <img  class="full-image" src="img/familia.jpg" alt="familia"/>
            <a  href="tel:+018009991550" class="button button-positive">
                Llamanos
            </a>
     </div>
 </div>
  </ion-content>

</ion-view>