<ion-view title="Financiera ayudamos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row responsive-md">
      <div class="col">
           <div class="titulo">
                Sucursales    
            </div>
      </div>
     <div class="col">
        <p class="parrafo">
            Contamos con más de 54 sucursales alrededor del df
        </p>
         <p class="parrafo">
            Sucursal más cercana <strong class="azul-fina">Navarte</strong> a  <strong><i>{{dirUser.cercania|number:1}} kms</i></strong>
             
         </p>
         <a href="tel:+5558124245" class="button button-block button-positive">
                Llamar
         </a>
         <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
         </ui-gmap-google-map>
         
         
     </div>
 </div>
  </ion-content>

</ion-view>